<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/styles.css">
        <title>My Blog</title>
    </head>
    <body>
        <nav>
            <a href= 'blog'>Mainpage</a> 
            <br>
            <a href= 'newpost'> add a new post</a>
            <br>
            <a href= 'login'>Login</a>
            <a href= 'sign-up'>Sign Up!</a>
        </nav>
        {% with messages = get_flashed_messages(with_categories=True) %}
            <ul>
            {% for category, message in messages %}
                <li class= "{{category}}">{{message}}</li>
            {% endfor %}
            </ul>
        {% endwith %}


        {% block content %}
        {% endblock %}
    </body>
</html>